<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
  <link rel="manifest" href="/static/favicon_manifest.json" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kumar Abhishek — Tech Lead & AI Engineer</title>
  <script type="module" crossorigin src="/assets/index-B_Lhn6YE.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-BJawqST2.css">
</head>

<body>
  <div id="root"></div>
</body>

</html>
